<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
</head>
<body>
    <h2> Crypto News Of the Day </h2>
    <form   
        th:action="@{/save}">
        <table>
        <tr th:each="article: ${Articles} ">
            <td th:text="${'Id: ' + article.id}"></td>
            <td th:text="${article.title}"></td>
            <td><input type="checkbox" th:field="${article.saveStatus}" th:value="true"/></td>
       </tr> 
        </table> 
    </form>
</body>
</html>