<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
</head>
<body>
    <h2> Crypto News Of the Day </h2>
    <br>
    <form   
        th:action="@{/articles}"
        th:object="${Articles}"
        >
        <input type="submit" value="SAVE"/>
        <br>
        <table  th:object="${Articles}">
            <tr th:each="article, status: *{articles} ">
                <td>    
                    <table> 
                        <tr>
                            <td><img th:src="@{${article.imageurl}}" width="200" height="200"></td>
                            <td th:text="${'Id: ' + article.id}"></td>
                        </tr>
                        <tr><td></td><td th:text="${article.title}"></td></tr>
                        <tr><td></td><td th:text="${article.body}"></td></tr>
                        <tr><td></td><td th:text="${'Categories: ' + article.categories}"></td></tr>
                        <tr><td></td><td th:text="${'Tags: ' + article.tags}"></td></tr>
                        <tr>
                            <td th:text="${'Published: ' + article.published_on}"></td>
                            <td><a th:href="@{${article.url}}">link</a></td>
                            <label>Save Article</label>
                            <input type="checkbox" th:field="${Articles.saveStatus}" th:value="true"/>
                            <td></td>
                        </tr>
                        <tr></tr>
                    </table>
                </td>
            </tr> 
        </table> 
    </form>
</body>
</html>